@import "src/assets/styles/variables.scss";
.cart__block {
    width: 50px;
    height: 46px;
    border-radius: 12px;
    border: 1px solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .cart__count {
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: $orange;
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
        text-align: center;
        font-size: 11px;
        padding: 2px 7px;
        color: $white;
    }
}
.header {
    height: 80px;
    border-bottom: 1px solid $border;
}
