@import "src/assets/styles/variables.scss";
.cart__block {
    width: 50px;
    height: 46px;
    border-radius: 12px;
    border: 1px solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .cart__count {
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: $orange;
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
        text-align: center;
        font-size: 11px;
        padding: 2px 7px;
        color: $white;
    }
}
.header {
    height: 80px;
    border-bottom: 1px solid $border;
    box-shadow: 0px 2px 5px #0000000f;
    @include mobile-md {
        height: 70px;
        .logo__icon {
            max-width: 120px;
        }
    }
}
.burger {
    position: relative;
    margin-right: 14px;
    height: 20px;
    width: 20px;
    transition: 0.3s;
    cursor: pointer;
    .burger__rows {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $black;
        transition: inherit;
        &.burger-row1 {
            top: 0px;
        }
        &.burger-row2 {
            top: 8px;
        }
        &.burger-row3 {
            top: 18px;
        }
    }
}
