@import "./variables.scss";
.form__input {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 2px solid $gray;
    border-radius: 10px;
    &::placeholder {
        color: $light-g;
    }
    &.sm {
        height: 44px;
    }
    &.c__icon {
        position: relative;
        &::after {
            content: "₾";
            position: absolute;
        }
    }
}
.check__group {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    cursor: pointer;
    padding-left: 30px;
    &:hover input ~ .checkmark {
        border: 1px solid $green;
        transition: 0.2s;
    }
    input:checked ~ .checkmark {
        // background-color: $green;
        transition: 0.2s;
        background-image: url(../images/base/checkbox.png);
        background-position: center;
        background-size: 21px;
        background-repeat: no-repeat;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 1px solid $border;
        border-radius: 6px;
        &::after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}
.text-gray {
    color: $gray-text;
}

.bold {
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.f-14 {
    font-size: 14px;
    color: $light-g;
}
.f-18 {
    font-size: 18px;
    color: $black;
}
.button {
    width: 100%;
    height: 50px;
    background-color: #003333;
    border-radius: 10px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .bold;
}
.scrollbar {
    &::-webkit-scrollbar {
        background-color: #fff;
        width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background-color: #fff;
        transition: 0.3s;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #f4f4f4;
        transition: 0.3s;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 5px solid #fff;
        transition: 0.3s;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 4px solid #f4f4f4;
        transition: 0.3s;
    }
}
.transition {
    transition: 0.3s;
}
// .opacity-1 {
//     opacity: 1;
// }
// .opacity-0 {
//     opacity: 0;
// }
